* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-bottom: 20px;
}

form {
  padding: 20px;
}

input, select {
  width: 99%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

label {
  margin-bottom: 10px;
}

#houseInput, #apartmentInput {
  width: 2%;
}