* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    color: aliceblue;
}

header, form {
    background-color: white;
    color: black;
    padding: 20px;
    width: 95%;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}